<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <!-- fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <!-- CSS -->
        <link rel="stylesheet" href="style.css">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <title>Slider</title>
    </head>
    <body>
      <!-- VUE AREA -->
        <div id="root">
          <div class="container">

            <!-- Test Vue -->
            <!-- <div>
              <label for="">Campo di test</label>
              <input v-model="colore">
            </div> -->
            <div class="slider-wrapper">

                <!-- Tasto precedente -->
                <div @click="ImgIndexSub" class="prev">
                    <i class="fas fa-angle-left"></i>
                </div>
                <!-- /Tasto precedente -->

                <!-- Immagine corrente -->
                <div class="images">
                    <img :src="pathImmagini[currentImgIndex]" alt="">
                </div>
                <!-- /Immagine corrente -->

                <!-- Tasto successivo -->
                <div @click="ImgIndexAdd" class="next">
                    <i class="fas fa-angle-right"></i>
                </div>
                <!-- /Tasto successivo -->

                <div class="nav">
                  <!-- Cerchi selezione diretta -->
                    <!-- <i class="fas fa-circle active first"></i>
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle"></i>
                    <i class="fas fa-circle last"></i> -->
                    <ul>
                      <li v-for="(p,i) in pathImmagini">
                        <span v-if="i === currentImgIndex"> <i class="fas fa-circle selected"></i> </span>
                        <span @click="updateCurrentIndex" v-else="i === currentImgIndex"><i class="fas fa-circle"></i></span>
                       </li>
                    </ul>



                </div>
                <!-- /Cerchi selezione diretta -->


                <div class="test-area">
                  <h2>DEBUG AREA</h2>
                  <span>VARIABILI VUE</span>
                  <div>Current index image</div>

                  <button  @click="ImgIndexSub" > SUB</button>
                  <input @keyup.left="ImgIndexSub" @keyup.right="ImgIndexAdd" v-model="currentImgIndex">
                  <button @click="ImgIndexAdd" > ADD</button>


                  </div>
                  <br>

                  <!-- Elemento selezionato -->
                  <div> Path corrente = {{pathImmagini[currentImgIndex]}}

                  </div>

                  <!-- <span>Test stampa PathImmagini</span>
                  <ul>

                  </ul>
                    <li v-for="(path, i) in pathImmagini">[{{i}}] - {{path}} </li>
                  </ul> -->

                </div>


              </div>
              <!-- /Slider wrapper -->
          </div>
          <!-- /Container -->
        </div>
        <script src="main.js"></script>
    </body>
</html>


<!-- TODO: -->
<!--
1) Definire array di pathImmagini
2) Classe active per l'immagine corrente

2) Scorrimento delle immagini con freccette
- utilizzare indice array


3) Selezione diretta con cerchietti


 -->

 <!-- TODO EXTRA:  -->
 <!-- 1) Funzioni con indice -->
